<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品销售</title>

    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css"/>

    <style>
        input[class="goods_"]{
            height: 50px;
            width: 150px;
        }
    </style>

    <script>
        {#销售出库时根据条码查询商品#}
        function tiaomachaxun() {
            tiaoma_select=document.getElementById("goods_chima").value;
            document.getElementById('goods_list').style.display="block";
            document.getElementById('sell_').style.display="block";
            $.get("/tiaoma_select/",{
                "tiaoma_select":tiaoma_select,
            },function (ret){
                if (ret=='商品不存在，请确认商品条码是否正确'){
                    alert('商品不存在，请确认商品条码是否正确')
                }else if (ret=='请输入条码！'){
                    alert('请输入条码！')
                }else{
                    document.getElementById('goods_name').value=ret.goodsname;
                    document.getElementById('tiaoma').value=ret.barcode;
                    document.getElementById('huohao').value=ret.goodsserial;
                    document.getElementById('chima').value=ret.inputsize;
                    document.getElementById('price').value=ret.totalprice;
                    document.getElementById('goods_type').value=ret.goodstype;
                    document.getElementById('cangku').value=ret.cangku;
                    document.getElementById('sell_price').value=ret.totalprice * 0;
                }


        })
        }

        {#查询会员信息#}
        function select_customer_info(){
            customer_phone=document.getElementById('phone_number').value;
            $.get('/select_customer_info/',{
                "customer_phone":customer_phone,
            },function (ret){
                if (ret=="会员不存在，请确认手机号是否正确"){
                    alert('会员不存在，请确认手机号是否正确')
                }else if (ret=='请输入会员手机号~'){
                    alert("请输入会员手机号~")
                }else{
                    jifen=document.getElementById('sell_price').value;
                    document.getElementById('coustomer_name').value=ret.customer_name;
                    document.getElementById('coustomer_jifen').value=parseInt(ret.customer_jifen);
                    document.getElementById('add_jifen').value=parseInt(jifen * 0.1);   //通过商品总售价和10%的固定比例换算成本次新增的积分
                    document.getElementById('total_jifen').value=parseInt(ret.customer_jifen) + parseInt(jifen* 0.1);
                }


            })
        }

        {#提交商品出售订单#}
        function add_order() {
            goods_name=document.getElementById("goods_name").value;
            tiaoma=document.getElementById("tiaoma").value;
            huohao=document.getElementById("huohao").value;
            chima=document.getElementById("chima").value;
            goods_type=document.getElementById("goods_type").value;
            price=document.getElementById("price").value;
            shuliang=document.getElementById("shuliang").value;
            cangku=document.getElementById("cangku").value;
            sell_price=document.getElementById("sell_price").value;
            pay_type=document.getElementById("pay_type").value;
            phone_number=document.getElementById("phone_number").value;
            coustomer_name=document.getElementById("coustomer_name").value;
            total_jifen=document.getElementById("total_jifen").value;
            $.get("/add_order/",{
                "goods_name":goods_name,
                "tiaoma":tiaoma,
                "huohao":huohao,
                "chima":chima,
                "price":price,
                "shuliang":shuliang,
                "cangku":cangku,
                "goods_type":goods_type,
                "sell_price":sell_price,
                "pay_type":pay_type,
                "phone_number":phone_number,
                "coustomer_name":coustomer_name,
                "total_jifen":total_jifen,
            },function (ret){
                alert(ret);
                if (ret=='订单生成失败，商品数量不可为空'){
                    alert('订单生成失败，商品数量不可为空')
                }else if (ret=='订单生成失败，请确认购买用户信息'){
                    alert('订单生成失败，请确认购买用户信息')
                }else if (ret=='订单生成失败，请确认用户信息'){
                    alert('订单生成失败，请确认用户信息')
                }else if (ret=='订单生成失败，请确认商品信息'){
                    alert('订单生成失败，请确认商品信息')
                }else{
                    document.location.href='goods_sell';
                }


            })
        }

        {#计算商品出售价格#}
        function jisuan_price() {
            price=document.getElementById('price').value;
            shuliang=document.getElementById('shuliang').value;
            document.getElementById('sell_price').value=shuliang*price;
        }
    </script>


</head>
<body>
    <div style="padding-left: 225px;color: black;padding-top: 50px">
        <span style="font-size: larger">请输入商品条码：<input id="goods_chima" style="height: 35px;width: 250px;"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  onclick="tiaomachaxun()" style="height: 30px; width: 50px;">确认</button>
    </div><br>

    <hr style="background-color: #aaaaaa; height: 1px; border: 0px"/>
    <div style="padding-left: 225px;color: black;padding-top: 20px" >
        <table id="goods_list" style="display: none;left:500px;color: black;width: 1600px" class="table table-striped" >
            <thead style="font-size: large;">
                <tr>
                    <th>商品名称</th>
                    <th>商品条码</th>
                    <th>商品货号</th>
                    <th>商品尺码</th>
                    <th>商品类型</th>
                    <th>商品单价</th>
                    <th>数量</th>
                    <th>仓库</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody  style="color: black">
                <tr>
                     <td ><input id="goods_name" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="tiaoma" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="huohao" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="chima" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="goods_type" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="price" class="goods_" type="text" disabled="disabled"></td>
                     <td ><input id="shuliang" class="goods_" type="text" placeholder="输入出售数量"></td>
                     <td ><input id="cangku" class="goods_" type="text" disabled="disabled"></td>
                     <td><button id="jisuan_price" onclick="jisuan_price()" class="btn btn-success" style="height: 45px;width: 90px">计算价格</button></td>
                </tr>
            </tbody>
        </table>
        <div id="sell_" style="display: none">
            <span style="color: red;font-size: xx-large">销售应收款（元）：
                <input id="sell_price" type="text" disabled="disabled" style="width: 130px;height: 50px;text-align: center"></span>
            <span style="font-size: larger;padding-left: 80px;">收款方式：
                <select id="pay_type" class="" style="width: 130px;height: 30px;left: 500px">
                    <option>现金</option>
                    <option>微信</option>
                    <option>支付宝</option>
                    <option>刷卡</option>
                </select>
            </span><br><br>


        </div>
    </div>


    <hr style="background-color: #aaaaaa; height: 1px; border: 0px"/>
    <div style="padding-left: 225px;color: black;padding-top: 1%;width: 800px">
        <div style="padding-top: 30px">
            <span style="font-size: larger">会员手机号：<input id="phone_number" placeholder="请输入手机号">&nbsp;<button onclick="select_customer_info()">查询会员信息</button></span>
        </div>
        <div style="padding-top: 35px">
            <span style="font-size: larger">会员姓名：<input id="coustomer_name" type="text" disabled="disabled"></span>
        </div>
        <div style="padding-top: 40px">
            <span style="font-size: larger">已有积分：<input id="coustomer_jifen" type="text" disabled="disabled"></span>
        </div>
        <div style="padding-top: 45px">
            <span style="font-size: larger">本次新增积分：<input id="add_jifen" type="text" disabled="disabled"></span>
        </div>
        <div style="padding-top: 50px">
            <span style="font-size: larger">新增后总积分：<input id="total_jifen" type="text" disabled="disabled"></span>
        </div>
    </div>

     <div style="padding-left: 45%">
                <button class="btn btn-success" onclick="javascript:document.getElementById('sell_assert').style.display='block'">确认收款</button>
     </div>
{#    商品售出二次确认弹窗#}
    <div id="sell_assert" style="color: black;box-shadow: 4px 4px 8px white;padding-left: 0;padding-top: 2%;
               border: 1px solid black;z-index: 9999;overflow: auto;border-radius: 5px;position:fixed;top: 30%;
               left: 37%;background: white;width: 25%;height: 20%;display: none">
        <h4 style="text-align: center">请确认收到的实际支付金额与销售应收款是否对应！</h4>
        <div style="padding-left: 30%;padding-top: 10%">
            <button class="btn btn-success" style="" onclick="add_order()">确认</button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-danger" style="" onclick="javascript:document.getElementById('sell_assert').style.display='none'">取消</button>
        </div>

    </div>
</body>
</html>