<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link rel="import" href="data_report.html">

    <style>
        div[class="sell_info"]{
            color: black;
            box-shadow: 4px 4px 8px grey;
            padding-left: 5%;
            padding-top: 2%;
            border: 1px solid black;
            z-index: 9999;
            overflow: auto;
            display: none;
            border-radius: 5px;
            position:fixed;
            top: 10%;
            left: 15%;
            background: antiquewhite;
            width: 80%;
            height: 80%;
        }

        div[class="sell_info1"]{
            text-align: center;
        }


    </style>
    
    <script>

        {#总收入#}
        function total_sell() {
            document.getElementById('total_sell').style.display="block";
            $.get("/total_sell/",function (ret){
                document.getElementById('customer_phone').value=ret.sell_price__sum+"元"
            })
            
        }

        {#今日收入#}
        function today_sell() {
            document.getElementById('today_sell').style.display="block";
        }

        {#月收入#}
        function month_sell() {
            document.getElementById('month_sell').style.display="block";
        }

        {#现金收入#}
        function cash_income(type) {
            document.getElementById('cash_income').style.display="block";
            document.getElementById('crash_table').innerText='';    //每次打开弹窗前清空上次的数据
            if (type=="现金"){

                $.get("/crash_income/",function (ret){
                document.getElementById('crash_sell').value=ret.crash_sell+"元";
                tbody=document.getElementById('crash_table');     //获取现金收款方式的table显示数据表格
                result=eval(ret.order_info);     //将获取到的字符串转变为一个列表
                for (var i=0;i<result.length;i++){
                    var tr=document.createElement("tr");
                    tr.innerHTML='<td>'+result[i]["fields"]["order_id"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_name"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_tiaoma"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_huohao"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_chima"]+'</td>'
                                +'<td>'+result[i]["fields"]["sell_price"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_cangku"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_shuliang"]+'</td>'
                                +'<td>'+result[i]["fields"]["pay_type"]+'</td>'
                                +'<td>'+result[i]["fields"]["customer_phone"]+'</td>';
                    tbody.appendChild(tr)
                    }
                })
            }else if(type=='支付宝'){
                $.get("/Alipay_income/",function (ret){
                document.getElementById('crash_sell').value=ret.crash_sell+"元";
                tbody=document.getElementById('crash_table');     //获取现金收款方式的table显示数据表格
                result=eval(ret.order_info);     //将获取到的字符串转变为一个列表
                for (var i=0;i<result.length;i++){
                    var tr=document.createElement("tr");
                    tr.innerHTML='<td>'+result[i]["fields"]["order_id"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_name"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_tiaoma"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_huohao"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_chima"]+'</td>'
                                +'<td>'+result[i]["fields"]["sell_price"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_cangku"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_shuliang"]+'</td>'
                                +'<td>'+result[i]["fields"]["pay_type"]+'</td>'
                                +'<td>'+result[i]["fields"]["customer_phone"]+'</td>';
                    tbody.appendChild(tr)
                    }
                })
            }else if(type=="微信"){
                $.get("/wechat_income/",function (ret){
                document.getElementById('crash_sell').value=ret.crash_sell+"元";
                tbody=document.getElementById('crash_table');     //获取现金收款方式的table显示数据表格
                result=eval(ret.order_info);     //将获取到的字符串转变为一个列表
                for (var i=0;i<result.length;i++){
                    var tr=document.createElement("tr");
                    tr.innerHTML='<td>'+result[i]["fields"]["order_id"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_name"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_tiaoma"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_huohao"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_chima"]+'</td>'
                                +'<td>'+result[i]["fields"]["sell_price"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_cangku"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_shuliang"]+'</td>'
                                +'<td>'+result[i]["fields"]["pay_type"]+'</td>'
                                +'<td>'+result[i]["fields"]["customer_phone"]+'</td>';
                    tbody.appendChild(tr)
                    }

                })
            }else if(type=="刷卡"){
                $.get("/swipe_income/",function (ret){
                document.getElementById('crash_sell').value=ret.crash_sell+"元";
                tbody=document.getElementById('crash_table');     //获取现金收款方式的table显示数据表格
                result=eval(ret.order_info);     //将获取到的字符串转变为一个列表
                for (var i=0;i<result.length;i++){
                    var tr=document.createElement("tr");
                    tr.innerHTML='<td>'+result[i]["fields"]["order_id"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_name"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_tiaoma"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_huohao"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_chima"]+'</td>'
                                +'<td>'+result[i]["fields"]["sell_price"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_cangku"]+'</td>'
                                +'<td>'+result[i]["fields"]["goods_shuliang"]+'</td>'
                                +'<td>'+result[i]["fields"]["pay_type"]+'</td>'
                                +'<td>'+result[i]["fields"]["customer_phone"]+'</td>';
                    tbody.appendChild(tr)
                    }

                })
            }

        }

        function data_report() {
            window.open("http://127.0.0.1:8000/data_report/");
        }


        
    </script>
</head>
<body>
    <div  style="color: black;padding: 50px;padding-left: 225px">
        <div>
            <span  style="font-size: larger">订单号：<input  id="cust_phone" style="height: 35px;width: 250px;box-shadow: 2px 1px 1px 1px grey"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="select_vip()" style="width: 80px;height: 37px;font-size: x-large;">查 询</button><br><br><br>
            <button onclick="total_sell()" class="btn btn-success">销售总额</button>
            <button onclick="today_sell()" class="btn btn-success">今日销售额</button>
            <button onclick="month_sell()" class="btn btn-success">当月销售额</button>
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black;font-size: xx-large">|</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="cash_income('{{ "现金" }}')" class="btn btn-success">现金总收款</button>
            <button onclick="cash_income('{{ "支付宝" }}')" class="btn btn-success">支付宝总收款</button>
            <button onclick="cash_income('{{ "微信" }}')" class="btn btn-success">微信总收款</button>
            <button onclick="cash_income('{{ "刷卡" }}')" class="btn btn-success">刷卡总收款</button>
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black;font-size: xx-large">|</span>&nbsp;&nbsp;&nbsp;&nbsp;
{#            <a href="/data_report/" target="_blank"><button onclick="data_report()" class="btn btn-success">数据报表</button></a>#}
            <button onclick="data_report()" class="btn btn-success">数据报表</button>
            <hr style="background-color: #aaaaaa; height: 1px; border: 0"/>
        </div><br>

        <table id="customer_info" style=";color: black" class="table table-striped">
            <thead style="font-size: x-large;">
                <tr>
                    <th>订单号</th>
                    <th>商品名称</th>
                    <th>出售价格</th>
                    <th>商品数量</th>
                    <th>出库仓库</th>
                    <th>商品条码</th>
                    <th>商品货号</th>
                    <th>支付方式</th>
                    <th>用户手机号</th>
                    <th>订单时间</th>
                </tr>
            </thead>
            <tbody style="color: black">
                {% for order_info in order_info %}
                <tr>
                     <td>{{ order_info.order_id }}</td>
                     <td>{{ order_info.goods_name }}</td>
                     <td>{{ order_info.sell_price }}</td>
                     <td>{{ order_info.goods_shuliang }}</td>
                     <td>{{ order_info.goods_cangku }}</td>
                     <td>{{ order_info.goods_tiaoma }}</td>
                     <td>{{ order_info.goods_huohao }}</td>
                     <td>{{ order_info.pay_type }}</td>
                     <td>{{ order_info.customer_phone }}</td>
                     <td>{{ order_info.create_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>


{#    总收入弹窗#}
<div id="total_sell" class="sell_info">
        <span style=";font-size: xx-large;padding-left: 25%"> 总销售额 <br><br><input class="sell_info1" type="text" id="customer_phone" disabled="disabled" style="text-align: center"></span><br><br>
        <br>
        <button class="btn btn-danger" onclick="javascript:document.getElementById('total_sell').style.display='none'">关闭</button><br><br>

    </div>

{#    今日收入弹窗#}
    <div id="today_sell" class="sell_info" >
        <span > 会员手机号： <input class="goods_input" type="text" id="customer_phone" disabled="disabled"></span><br><br>

        <br><br><br>
        <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="btn btn-danger" onclick="javascript:document.getElementById('today_sell').style.display='none'">关闭</button><br><br>
    </div>

{#    月收入弹窗#}
    <div id="month_sell" class="sell_info">
        <span > 会员手机号： <input class="goods_input" type="text" id="customer_phone" disabled="disabled"></span><br><br>
        <span > 会员姓名： <input class="goods_input" type="text" id="customer_name" ></span><br><br>

        <br><br><br>
        <br><br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="btn btn-danger" onclick="javascript:document.getElementById('month_sell').style.display='none'">关闭</button><br><br>
    </div>


{#    现金收入弹窗#}
    <div id="cash_income" class="sell_info">
        <span style="font-size: xx-large"> 总收款额： <input class="goods_input" type="text" id="crash_sell" disabled="disabled" style="color: red"></span><br><br>

        <table style="color: black" class="table table-striped" >
            <thead>
                <th>订单编号</th>
                <th>商品名称</th>
                <th>商品条码</th>
                <th>商品货号</th>
                <th>商品尺码</th>
                <th>销售售价</th>
                <th>商品所属仓库</th>
                <th>销售数量</th>
                <th>收款方式</th>
                <th>客户手机号</th>
            </thead>
            <tbody id="crash_table">
            </tbody>
        </table>
        <button style="position: absolute;bottom: 2%;right: 10%" class="btn btn-danger" onclick="javascript:document.getElementById('cash_income').style.display='none'">关闭</button><br><br>
    </div>


{#    增加分页功能#}
{#            <nav aria-label="Page navigation" style="text-align: center;padding: 10px">#}
{#            <ul class="pagination" style="">#}
{#                <li>#}
{#                  <a href="#" aria-label="Previous">#}
{#                    <span aria-hidden="true">上一页</span>#}
{#                  </a>#}
{#                </li>#}
{##}
{#                    <li><a href="#">1</a></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
{#                <li>#}
{#                  <a href="#" aria-label="Next">#}
{#                    <span aria-hidden="true">下一页</span>#}
{#                  </a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}


</body>
</html>